body {
  background-color: #42dabb;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
}

.content {
  margin: auto;
  justify-content: center;
}

button {
  border-style: none;
  border: 2px solid black;
  border-radius: 6px;
  padding: 25px;
  margin: 0;
  margin-right: 16px;
}
